.btn {
    margin: 10px 0;
    padding: 8px 20px 10px;
    font-size: 20px;
    font-family: $font-title;
    border-radius: 0;
    transition: background 250ms ease-in-out;

    &.btn-default {
        background-color: $color-grey-6;

        &:hover,
        &:focus {
            background: $color-white;
        }
    }

    &.btn-primary {
        color: $color-white;
        background-color: $color-brown-1;
        border-color: $color-brown-1;

        &:hover,
        &:focus {
            background-color: darken($color-brown-1, 10%);
        }
    }

    &:hover,
    &:focus {
        text-decoration: none!important;
    }

    + .btn {
        margin-left: 10px;
    }
}

a.btn:link {
    &:hover,
    &:focus,
    &:visited {
        text-decoration: none!important;
    }

    &.btn-primary {
        color: $color-white;
    }
}
