.btn {
    margin: 10px 0;

    &.btn-primary {
        padding: 8px 20px;
        color: $color-black;
        font-family: $font-title;
        font-size: 20px;
        background-color: $color-brown-1;
        border-color: $color-brown-1;
        border-radius: 0;
    }

    &:hover,
    &:focus {
        text-decoration: none;
    }
}

a.btn:link {
    &.btn-primary {
        color: $color-white;
    }
}
