/* Footer */
footer {
    ul {
        list-style: none;

        li {
            display: inline-block;
            color: $color-grey-1;
            font-family: $font-title;
            font-size: 16px;
            font-weight: $font-weight-regular;
        }
    }
}
