body {
	color: $color-grey-2;
	font-family: $font-regular;
    text-align: left;
}

main {
	clear: both;
}

img {
	max-width: 100%;

    &.image-full {
        display: block;
        width: 100%;
    }
}

a {
	color: $color-brown-1;
	font-family: $font-bold;

    &:hover {
        color: darken($color-brown-1, 10%);
    }
}

p {
    margin: 0 0 1em;
    font-size: 16px;
}

h1,
h2,
h3 {
    color: $color-grey-1;
    font-family: $font-title;
    font-weight: $font-weight-semi-bold;
}

h1 {
    font-size: 28px;

    span {
        color: $color-grey-3;
        font-size: 70%;
        font-weight: $font-weight-light;
    }
}

h2 {
    font-size: 22px;
}

h3 {
    font-size: 18px;
}

font.getpixelinfo {
    color: $color-grey-1!important;
}

img + h2 {
    margin-top: 20px;
}

label,
li strong,
p strong {
    font-family: $font-bold;
}

ul {
    li {
        font-size: 16px;
        margin-bottom: 10px;
    }
}
