body {
	color: $color-grey-1;
	font-family: $font-regular;
    text-align: left;
}

main {
	clear: both;
}

img {
	max-width: 100%;
}

a {
	color: $color-brown-1;
	font-family: $font-bold;

    &:hover {
        color: darken($color-brown-1, 10%);
    }
}

h1,
h2,
h3 {
    color: $color-grey-1;
    font-family: $font-title;
    font-weight: $font-weight-semi-bold;
}

h1 {
    font-size: 28px;
}

h2 {
    font-size: 22px;
}

h3 {
    font-size: 18px;
}
