/* Header nav */
header.navbar-default {
	width: 100%;
	margin: 0 0 20px;
    padding: 20px 0;
	border: none;
	border-radius: 0;
	background: $color-white;
    border-bottom: 1px solid $color-grey-3;

	.container {
        display: flex;
	}

    .navbar-header {
		flex: 0 1 auto;
	}

	.navbar-brand {
        $width: 211px;

        flex: 0 0 $width;
        width: $width;
        height: 108px;
        padding: 0;
        background: url('../img/logo.png') 0 0 no-repeat;
        background-size: contain;
	}
}
