/*-----------------------------------------
    Change here for main background style
-----------------------------------------*/
body {
    margin: 0px 0px 0px 0px;
    padding:0px;
    background: url(background.gif) repeat-x #000000;
    font: #000000 normal 11px/15px  verdana, arial;
    text-align: center;
    }

/*-----------------------------------------
    Change here for header
-----------------------------------------*/
table.header {
    width: 1000;
    margin-bottom:0
}
td.header {
    padding:30;
}

.headercolor_top {
    /* If you want to change the background color of the top menu, add this line ...
       background-color: #FFFFFF;
       ... below this comment and substitute #FFFFFF with your preferred color. */

}

.headercolor_menu {
    /* If you want to change the background color of the menu, add this line ...
       background-color: #FFFFFF;
       ... below this comment and substitute #FFFFFF with your preferred color. */

    height: 30;
}

td.pagessubmenu {
    padding-left:15;
    padding-top:5;
}

select.pagessubmenu {
    color: #000000;
    margin-bottom:5;
}

table.getpixel {
    margin-top:10;
    width: 1000;
}
td.getpixel {
    padding:10;
    color: #FEC501;
}
font.getpixelinfo {
    color: #FFFFFF;
    font-weight: bold;
}
font.getpixelerror {
    color: #FF6262;
    font-weight: bold;
}
select.language {
    font-family:verdana, arial;
    font-size:7pt;
    margin-left:10;
    color: #444444;
}

/*-----------------------------------------
    Linkstyle of the Mainmenu
-----------------------------------------*/
a.m:link    {    color: #FFFFFF; font-weight: bold; text-decoration: none;    }
a.m:visited {    color: #FFFFFF; font-weight: bold; text-decoration: none;    }
a.m:hover   {    color: #FEC501; font-weight: bold; text-decoration: underline;    }

/*-----------------------------------------
    Linkstyle of the Premenu
-----------------------------------------*/
a.l:link    {    color: #FFFFFF; font-weight: normal; font-size:8pt; text-decoration: none;    }
a.l:visited {    color: #FFFFFF; font-weight: normal; font-size:8pt; text-decoration: none;    }
a.l:hover   {    color: #FEC501; font-weight: normal; font-size:8pt; text-decoration: underline;    }

/*-----------------------------------------
    Linkstyle / Linkstyle highlighted of the Submenu (gridpages)
-----------------------------------------*/
a.pages:link    {    color: #C8C8C8; font-weight: normal; text-decoration: none; padding:0 7;   }
a.pages:visited {    color: #C8C8C8; font-weight: normal; text-decoration: none; padding:0 7;    }
a.pages:hover   {    color: #FFFFFF; font-weight: normal; text-decoration: underline; padding:0 7;    }

a.pages_highlight:link    {    color: #FEC501; font-weight: normal; text-decoration: none; padding:0 7;   }
a.pages_highlight:visited {    color: #FEC501; font-weight: normal; text-decoration: none; padding:0 7;    }
a.pages_highlight:hover   {    color: #FFFFFF; font-weight: normal; text-decoration: underline; padding:0 7;    }

/*-----------------------------------------
    Linkstyle of the Footermenu
-----------------------------------------*/
a.f:link    {    color: #FFFFFF; font-weight: bold; text-decoration: none;    }
a.f:visited {    color: #FFFFFF; font-weight: bold; text-decoration: none;    }
a.f:hover   {    color: #FEC501; font-weight: bold; text-decoration: underline;    }

/*-----------------------------------------
    Change here for footer tables
-----------------------------------------*/
table.footer {
    width: 1000;
    margin:3 0;
}

td.footer {
    text-align: center;
    color:#999999;
}

/*-----------------------------------------
    Change here for Headlines style
------------------------------------------*/

h3,h4,h5 {
    margin: 0px 0px 5px 0px;
    }
h1 {
    font-size:13pt;
    margin: 0px 0px 10px 0px;
   }
h2 {
    font-size:10pt;
    margin: 0px 0px 5px 0px;
   }

/*-----------------------------------------
    Change here for main content tables
-----------------------------------------*/

table.content {
    background-color: #DEE0E2;
    width: 1000;
}

td.content {
    padding:30;
}

td.rightcontent {
    width:150;
    background-color: #C8C8C8;
    padding:30;
}

/*-----------------------------------------
    Change here for Blog and Faq Style
------------------------------------------*/

h2.blog_title {
    margin-top:3;
    color:#5F76AF;
}

font.blog_date {
    font-size:10px;
    font-weight: bold;
}
hr.blog_line {
    height:1px;
    color:#C8C8C8;
}

h2.faq_question {
    margin-top:3;
    color:#5F76AF;
}
hr.faq_line {
    height:1px;
    color:#C8C8C8;
}
ul.faq_line {
    list-style-type: square;
    margin-top:3;
    margin-left:20;
    margin-bottom:3;
    color:#5F76AF;
}

/*-----------------------------------------
    Other general
------------------------------------------*/
table {  border-collapse: collapse;  }
td {
    padding:0;
    font: normal 11px/15px   verdana, arial;
   }
img { border: 0 }
input,select,textarea {
    font-family:verdana, arial;
    font-size:8pt;
    color: #666666;
}

/*-----------------------------------------
    Linkstyles general
-----------------------------------------*/
a:link    {    color: #5672B0; font-weight: bold; text-decoration: underline;    }
a:visited {    color: #5672B0; font-weight: bold; text-decoration: underline;    }
a:hover   {    color: #7399EB; font-weight: bold; text-decoration: none;    }

a.black:link    {    color: #000000; font-weight: bold; font-size:8pt; text-decoration: underline;    }
a.black:visited {    color: #000000; font-weight: bold; font-size:8pt; text-decoration: underline;    }
a.black:hover   {    color: #FFFFFF; font-weight: bold; font-size:8pt; text-decoration: none;    }

/*-----------------------------------------
    Get Pixel - Logo images
------------------------------------------*/
td.logos {
    color: #FF6262;
    background-color: #415383;
}
td.logos_highlighted {
    color: #FF6262;
    background-color: #778ABB;
}

a.logos:link    {    color: #FEC501; font-weight: bold; font-size:8pt; text-decoration: none;    }
a.logos:visited {    color: #FEC501; font-weight: bold; font-size:8pt; text-decoration: none;    }
a.logos:hover   {    color: #FFFFFF; font-weight: bold; font-size:8pt; text-decoration: underline;    }

/*-----------------------------------------
    Get Pixel Process / Edit Pixel
------------------------------------------*/
.linkpixel_button {
    height:25;
    width:150;
    margin-left:25;
    color:#000000;
    margin-right:60;
}
.savepixel_fileupload {
    width:420;
    height:19;
    margin-left:5
}

.savepixel_fileupload_button {
    width:140;
    margin-left:3;
    height:25;
    color:#000000
}
.savepixel_http {
    color:#000000;
    width:70;
}
.savepixel_url {
    width:240;
    height:19;
    color:#000000;

}
.savepixel_inputs {
    width:310;
    height:19;
    color:#000000;

}
.savepixel_password {
    width:160;
    height:19;
    color:#000000;

}
.savepixel_submitbutton {
    width:160;
    height:25;
    color:#000000
}

/*-----------------------------------------
    Global Search Button
------------------------------------------*/
.globalsearch_input {
    width:150;
    color:#000000;
}
.globalsearch_submit {

}
